<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appointment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.UserAgreementActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".View.MainActivity"
            android:label="主界面" />
        <activity
            android:name=".View.SettingActivity"
            android:label="设置" />
        <activity
            android:name=".View.SearchActivity"
            android:label="搜索" />
        <activity
            android:name=".View.CommitActivity"
            android:label="发起活动" />
        <activity
            android:name=".View.FindPasswordActivity"
            android:label="找回密码" />
        <activity
            android:name=".View.ActivityDetailActivity"
            android:label="活动详情" />
        <activity
            android:name=".View.FeedbackActivity"
            android:label="意见反馈" />
        <activity
            android:name=".View.PersonalInformationActivity"
            android:label="个人信息" />
        <activity
            android:name=".View.ChangeInformationActivity"
            android:label="修改个人信息" />
        <activity
            android:name=".View.ChangePasswordActivity"
            android:label="修改密码" />
        <activity
            android:name=".View.UserAgreementShowActivity"
            android:label="用户须知" />
        <activity
            android:name=".View.OurInformationActivity"
            android:label="关于我们" />
        <activity android:name=".View.UserDetailActivity" />
        <activity android:name=".View.LogoActivity"></activity>
    </application>

</manifest>